*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img{
	max-width: 100%;
}
header{

}
h1{

font-size: 50px;

line-height: 1;

margin-bottom: 15px;
}
h2{
font-size: 32px;
}
h3{
    font-size: 26px;
    line-height: 1.5;
}
p{

width: 400px;

font-size: 16px;

padding: 10px 0;
}
a{
    text-decoration: none;
    color:#237be5;
}

span{
	display: block;
	margin-top: 15px;
}
.container{
	width: 90%;
	overflow: hidden;
	margin: auto;
}

.col-1-2{
	width: 50%;
	float: left;
	padding: 30px;
}
.col-1-3{
	width: 33.33%;
	float: left;
	padding: 30px;
}
.header_section{

    margin: 0px auto;
 /*   padding: 80px;*/

}
.bottun{
	display: inline-block;
	padding: 20px;
	font-size: 24px;
	border-radius: 5px;}
.bottun2{
	display: inline-block;
	padding: 20px;
	font-size: 24px;
	border-radius: 5px;}
.bottun:hover{
	background-color: #237be5;
	color: white;
	transition: .3s;
  }
.bottun2:hover{
	background-color:white;
	color:#237be5;
	transition: .3s;
  }
.bottun-fill{height: 2;color: white;background-color: #237be5;}
.bottun-fill2{height: 2;color:  #237be5;background-color:white;}
.bottun-fill:hover{ 
	background-color: white;
	color: #237be5; }
.bannar_img{}
.partner_section{
    background-color: #f1f4fb;
    padding: 40px;
    text-align: center;
}
.partner_logo{
    margin: 20px auto;
    text-align: center;
}
 ul{

list-style-type: none;
}

ul li{
	
display: inline-block;
	
padding: 20px;
	
text-align: center;
}
.support_error{

margin-top: 100px;
}
.support_header{text-align: center;width: 53%;margin: 20px auto;}
.support_header p{
	text-align: center;
    margin: auto;
    font-size: 14px;
    padding: 15px;
}
.support_problem_card_section{

padding: 120px;
}
.support_problem_img{

padding: 15px;
}
.support_problem_content{

text-align: left;

padding: 40px;
}
.support_benefit_head_img{
	
text-align: center;
	
width: 320px;
	
margin: 10px auto;
}
.support_benefit_card_section{
	padding: 20px 120px;
}
.testimonial_section{ padding: 20px 120px; }
.ROI{
    display: inline-block;
    background-color: #d6e3f3c2;
}
.customer{
	border: 3px solid white;
	box-shadow: inset .2em .2em 1em rgba(0,0,0,0.1),inset 0.3em 0.3em 1em rgba(0,0,0,0.2);
}
.result{
    width: 50%;
    float: left;
}
.customer_img{
    text-align: center;
    padding: 20px;
}
.customer_content{
	text-align: center;
}
.space{
	margin:100px;
}
.product_benefit_section{
	padding: 20px 120px;
}
.col-1-3 img{
	    margin: 0 40px;
}
.CTA_section{
background-color: #237be5;	
}
.white{
	color: white;
}
.course_content{
	margin: 70px 0;
}
.footer_section{
	text-align: center;
	background-color: #f1f4fb;
	padding: 20px;
}